@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background:   hsl(0, 0%, 8%);
}
.container{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:20px;
  max-height: 100dvh;
  background: hsl(0, 0%, 12%);
  width: 350px;
  border-radius: 10px;
}
.img-bx img {
  border-radius: 50%;
}
.links-div {
  display: flex; 
  margin: 20px; 
  flex-direction: column;
}
.link  {
  padding: 12px 24px;
  text-decoration: none;
  background:  hsl(0, 0%, 20%);
  color: #ffff;
  margin: 5px;
  width: 250px;
  border-radius: 10px;
}
.title, .description{
  color: #fff;
}
.location {
  font-size: 10px;
}
.description {
  font-size: 13px;
}
.title, .location, .description {
  margin: 10px;
}
.location {
  color:hsl(75, 94%, 57%);
}

@media  only screen and (min-width: 750px){
  .link:hover{
  background: hsl(75, 94%, 57%);
  }
  .container {
    margin-top: 30vh;
  }
}